header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b1b4b9;
    padding: 15px 100px;

}
.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    
}

.navbar a {
    list-style: none;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(./images/car10.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.header-btn .sign-up{
    background: #525cc9;
    color: #FFF;
    border-radius: 0.5rem;
}

.header-btn .sign-up:hover {
    background: orange;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}